@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 1.5em;
          column-count: 1;
      }
      .masonry-sm {
          column-gap: 1.5em;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1.5em;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}

.wrapper{
    display:grid;
    height:100vh;
    place-items:center
  }
  
  /* 
  gradient
  bg-gradient-to-r from-green-400 to-blue-500 grid
 */